// USER VARIABLES SECTION
$light_shades: #F1EEEF;
$light_accent: #DEDED3;
$primary: #eee;
$secondary:  rgba(230, 217, 204, 0.5);
$dark_accent : #777777; 
$dark_shades: #555555;
$accent: #333333;
$danger: #DC3545;

$fontsizeS: 14px;
$fontsize: 16px; 
$fontsizeL: 18px;

$textcolor: #333; 
$lineheight: 1.65; 
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family